body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.btn-contact {
    background-color: #6C63FF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #f4f4f4;
}

.intro-text h1 {
    font-size: 2.5rem;
}

.highlight {
    color: #6C63FF;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
}

.btn-primary {
    background-color: #78769b;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #7e7bbc;
    color: #4944b2;
}

/* About Section */
.about {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

/* Portfolio Section */
.portfolio {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 30%;
}

/* Contact Section */
.contact {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact-form {
    display: inline-block;
    text-align: left;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.contact-form button {
    background-color: #6C63FF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer .social {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer .social li {
    margin: 0 10px;
}

footer .social li a {
    color: white;
    text-decoration: none;
}

